
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
HOY_Sesion1_Playwright.md
HOY_Sesion2_Playwright.md
HOY_Sesion3_Playwright.md
HOY_Sesion4_Playwright.md
HOY_Sesion5_Playwright.md
HOY_Sesion6_Playwright.md
